.employees__separator {
  height: 1px;
  background-color: #243247;
  margin: 85px 118px 94px 98px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .employees__separator {
    margin: 85px 94px 94px 98px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .employees__separator {
    margin: 48px 48px 48px 48px;
  }
}

@media screen and (max-width: 767px) {
  .employees__separator {
    margin: 43px 29px 45px 29px;
  }
}