.header__pages-list {
  margin: 19px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
}

@media screen and (min-width: 520px) and (max-width: 767px) {
  .header__pages-list {
    display: none;
  }
}

@media screen and (max-width: 519px) {
  .header__pages-list {
    display: none;
  }
}