.company__intro-title {
  font-weight: 600;
  font-size: 55px;
  line-height: 73px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #243247;
  margin: 76px 0 0 0;
  grid-area: title;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .company__intro-title {
    font-size: 48px;
    line-height: 65px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .company__intro-title {
    font-size: 40px;
    line-height: 55px;
    margin: 48px 0 0 0;
  }
}

@media screen and (min-width: 520px) and (max-width: 767px) {
  .company__intro-title {
    font-size: 32px;
    line-height: 40px;
    margin: 24px 0 0 0;
  }
}

@media screen and (max-width: 519px) {
  .company__intro-title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 33px 0;
  }
}