@import url('../../vendor/normalize.css');
@import url('../../fonts/fonts.css');

@import url('../../blocks/page/page.css');
@import url('../../blocks/container/container.css');
@import url('../../blocks/container/_hidden/container_hidden.css');

@import url('../../blocks/link/link.css');
@import url('../../blocks/common-button/common-button.css');

@import url('../../blocks/header/header.css');
@import url('../../blocks/header/__page-link/_active/header__page-link_active-black.css');
@import url('../../blocks/header/__menu/header__menu.css');
@import url('../../blocks/header/__logo/header__logo-black.css');
@import url('../../blocks/header/_active-background/header_active-background-white.css');
@import url('../../blocks/header/__pages-list/header__pages-list.css');
@import url('../../blocks/header/__pages-list-item/header__pages-list-item.css');
@import url('../../blocks/header/__page-link/header__page-link-black.css');
@import url('../../blocks/header/__logo/_visible/header__logo_visible.css');
@import url('../../blocks/header/__hamburger-button/header__hamburger-button-black.css');
@import url('../../blocks/header/__hamburger-button/_visible/header__hamburger-button_visible.css');
@import url('../../blocks/header/_hidden/header_hidden.css');

@import url('../../blocks/reviews/reviews.css');
@import url('../../blocks/reviews/__button-caption/reviews__button-caption.css');
@import url('../../blocks/reviews/__buttons-group/reviews__buttons-group.css');
@import url('../../blocks/reviews/__button-with-caption/reviews__button-with-caption.css');
@import url('../../blocks/reviews/__slider-redirect-button/reviews__slider-redirect-button.css');
@import url('../../blocks/reviews/__slider-download-button/reviews__slider-download-button.css');
@import url('../../blocks/reviews/__title/reviews__title.css');
@import url('../../blocks/reviews/__slider-buttons-container/reviews__slider-buttons-container.css');
@import url('../../blocks/reviews/__slider-button/reviews__slider-button.css');
@import url('../../blocks/reviews/__slider-button/_direction/reviews__slider-button_direction-left.css');
@import url('../../blocks/reviews/__slider-button/_direction/reviews__slider-button_direction-right.css');
@import url('../../blocks/reviews/__slider-container/reviews__slider-container.css');
@import url('../../blocks/reviews/__list/reviews__list.css');
@import url('../../blocks/reviews/__image-first/reviews__image-first.css');
@import url('../../blocks/reviews/__image-second/reviews__image-second.css');
@import url('../../blocks/reviews/__image-third/reviews__image-third.css');

@import url('../../blocks/review/review.css');
@import url('../../blocks/review/__employee-fio/review__employee-fio.css');
@import url('../../blocks/review/__header/review__header.css');
@import url('../../blocks/review/__text-smaller/review__text-smaller.css');
@import url('../../blocks/review/__text-normal/review__text-normal.css');
@import url('../../blocks/review/__text-bold/review__text-bold.css');
@import url('../../blocks/review/__body/review__body.css');

@import url('../../blocks/hamburger/hamburger.css');
@import url('../../blocks/hamburger/__logo/hamburger__logo.css');
@import url('../../blocks/hamburger/__links-list/hamburger__links-list.css');
@import url('../../blocks/hamburger/__link/hamburger__link.css');
@import url('../../blocks/hamburger/__links-list-item/hamburger__links-list-item.css');
@import url('../../blocks/hamburger/__close-button/hamburger__close-button.css');
@import url('../../blocks/hamburger/_visible/hamburger_visible.css');

@import url('../../blocks/footer/footer.css');
@import url('../../blocks/footer/footer-white.css');
@import url('../../blocks/footer/__text/footer__text.css');
@import url('../../blocks/footer/__text/footer__text-black.css');

.slider {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.slider ul {
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

.slider ul li {
  position: relative;
  display: block;
  float: left;
}