.employee {
  display: grid;
  grid-auto-rows: minmax(100px, auto) minmax(100px, auto) auto;
  grid-template-areas:
  "fio photo"
  "bio photo"
  "portfolio photo";
  margin: 0;
  column-gap: 50px;
}

.employee:last-child {
  padding: 0 0 121px 0;
}

@media screen and (max-width: 767px) {
  .employee {
    grid-auto-rows: auto;
    grid-template-areas:
      "photo"
      "fio"
      "bio"
      "portfolio";
  }

  .employee:last-child {
    padding: 0 0 24px 0;
  }
}