.review__text-smaller {
  margin: 0;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #333333;
}

.review__text-smaller:first-child {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .review__text-smaller {
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0;
  }

  .review__text-smaller:first-child {
    margin-bottom: 0;
  }
}