.footer {
  min-height: 44px;
  background-color: #243247;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    padding: 0 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding: 0 55px;
  }
}

@media screen and (min-width: 520px) and (max-width: 737px) {
  .footer {
    padding: 0 45px;
  }
}

@media screen and (max-width: 519px) {
  .footer {
    min-height: 56px;
    padding: 0 29px;
    margin: 20px 0 0 0;
  }
}