.services {
  display: grid;
  grid-template-areas: 
    "image"
    "title"
    "list"
    "pact";
  min-height: calc(100vh - 110px);
}

@media screen and (max-width: 519px) {
  .services {
    grid-template-areas: 
      "title"
      "image"
      "list"
      "pact";
    min-height: calc(100vh - 142px);
  }
}