.header__hamburger-button-black {
  background-image: url('../../../images/hamburger-menu-icon-black.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  width: 20px;
  height: 13px;
  flex-shrink: 0;
  border: none;
  margin: 21px 0 0 0;
  visibility: hidden; 
}

@media screen and (min-width: 520px) and (max-width: 767px) {
  .header__hamburger-button-black {
    visibility: visible;
  }
}

@media screen and (max-width: 519px) {
  .header__hamburger-button-black {
    visibility: visible;
  }
}