.reviews__slider-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 17px 56px;
}

@media screen and (max-width: 767px) {
  .reviews__slider-buttons-container {
    padding: 17px 29px;
  }
}