.intro {
  min-height: 763px;
  max-width: 100%;
  margin-top: -67px;
  background-image: url('../../images/akk-group-intro.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 520px) and (max-width: 767px) {
  .intro {
    min-height: 205px;
  }
}

@media screen and (max-width: 519px) {
  .intro {
    min-height: 205px;
  }
}