.intro {
  min-height: 763px;
  max-width: 100%;
  margin-top: -67px;
  background-image: url('../../images/akk-group-intro.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}