.services__pact-download-button {
  width: 196px;
  height: 44px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin: 45px 0 0 0;
}

@media screen and (min-width: 1280px) and (max-width: 1399px) {
  .services__pact-download-button {
    margin: 20px 0 0 0;
  }
}

@media screen and (min-width: 520px) and (max-width: 767px) {
  .services__pact-download-button {
    margin: 12px 0 0 0;
  }
}

@media screen and (max-width: 519px) {
  .services__pact-download-button {
    margin: 30px 0 0 0;
  }
}